@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(180deg, #f8fbff 0%, #f4f7fb 60%, #f5f8fc 100%);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
}
